body{
    font-family: "Glegoo";
   background-color: pink;
   box-sizing: border-box;
}

.jumbotron{
    background-image: url(../images/dice.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    color: white;
    width: 100%;
    min-height: 300px;
    position: relative;

}

.jumbotron .container{
    position: relative;
    z-index: 9999999;
}

.jumbotron .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
}



.dice-holder{
    margin-top: 33px;

}
.round1{
    height: 40px;
    align-items: center;
    font-size: 25px;
}
.round2{
    height: 40px;
    align-items: center;
    font-size: 25px;
}
.btn{
    color: white;
    background-color:royalblue;
    
}
.active-player{
    background-color: palegreen;
}
.winner{
  
    color: slateblue;
   
}