body{
    font-family: "Glegoo";
   background-color: pink;
   box-sizing: border-box;
}





.dice-holder{
    margin-top: 33px;

}
.round1{
    height: 40px;
    align-items: center;
    font-size: 25px;
}
.round2{
    height: 40px;
    align-items: center;
    font-size: 25px;
}
.btn{
    color: white;
    background-color:royalblue;
    
}
.active-player{
    color: blue;
}
.winner{
  
    color: slateblue;
   
}